## 今回は食べログの評価をスクレイピング！

https://tabelog.com/tokyo/A1302/A130201/13026436/dtlratings/

前回の「バルニバービ@食べログ」を、「tabelog.py」に直して、同じフォルダに保存し関数を呼び出せるようにします。

In [1]:
from Rating import *

13026436 tokyo

In [2]:
from tabelog import *

In [3]:
import requests
import lxml.html
from xml.etree.ElementTree import *

In [4]:
erl = list()
wrl = list()
arl = list()
srl = list()
erl = shop_name1("http://www.balnibarbi.com/shops/east.php")
srl =  shop_name1("http://www.balnibarbi.com/shops/sweets.php")
arl =  shop_name1("http://www.balnibarbi.com/shops/asushoku.php")
wrl = shop_name1("http://www.balnibarbi.com/shops/west.php")

In [5]:
eerl = list()
wwrl = list()
aarl = list()
ssrl = list()
eerl = shop_name("http://www.balnibarbi.com/shops/east.php")
ssrl =  shop_name("http://www.balnibarbi.com/shops/sweets.php")
aarl =  shop_name("http://www.balnibarbi.com/shops/asushoku.php")
wwrl = shop_name("http://www.balnibarbi.com/shops/west.php")

In [6]:
urls = url(eerl)
urls1 = url(erl)

In [7]:
def urls2(urls,urls1):
    urls2 = list()
    i = 0
    for i in range(len(urls1)):
        x =urls[i]
        f = x.find(' ')
        if f > 0:
            urls2.append(urls1[i])
        else:
            urls2.append(urls[i])
    return urls2

In [8]:
urls2 = urls2(urls,urls1)

In [9]:
def urls3(urls2):
    urls3 = list()
    ul = "https://tabelog.com/rstLst/?vs=1&sa=&sk=" 
    ul2 ="&lid=hd_search1&vac_net=&svd=20171108&svt=1900&svps=2&hfc=1&sw=" 
    for i in range(len(urls2)):
        b = ul + urls2[i] + ul2 + urls2[i]
        urls3.append(b)
    return urls3

In [10]:
urls3 = urls3(urls2)

In [11]:
def bb(us):
    i = 0
    bb = list()
    for i in range(len(us)):
        session = requests.Session()
        response = session.get(us[i])
        root = lxml.html.fromstring(response.content)
        root.make_links_absolute(response.url)  
        for a in root.cssselect('a'):
            aa= a.get("href")
            d = list()
            if 'dtlrvwlst' in str(aa):
                bb.append(aa)
                d.append(aa)
                if len(d) > 0:
                    break            
    return bb

In [12]:
bb = bb(urls3)

In [13]:
def rate(bb):
    i = 0
    rate = list()
    for i in range(len(bb)):
        c = str(bb[i])
        cs = c.replace('dtlrvwlst', 'dtlratings')
        session = requests.Session()
        response = session.get(cs)
        root = lxml.html.fromstring(response.content)
        for x in root.cssselect('strong[class = "score"]'):
            rate.append(x.text)
    return rate

In [14]:
rate = rate(bb)

In [15]:
rate

['3.55',
 '3.53',
 '3.51',
 '3.46',
 '3.36',
 '3.25',
 '3.50',
 '3.14',
 '3.50',
 '3.06',
 '3.06',
 '3.03',
 '3.28',
 '3.27',
 '3.08',
 '3.13',
 '3.09',
 '3.14',
 '3.55',
 '3.51',
 '3.55',
 '3.54',
 '3.48',
 '3.51',
 '3.28',
 '3.08',
 '3.48',
 '3.09',
 '3.05',
 '3.09',
 '3.06',
 '3.03',
 '3.06',
 '3.55',
 '3.17',
 '3.55',
 '3.14',
 '3.12',
 '3.08',
 '3.53',
 '3.53',
 '3.17',
 '3.28',
 '3.08',
 '3.47',
 '3.04',
 '3.04',
 '-',
 '3.04',
 '3.04',
 '-',
 '3.32',
 '3.28',
 '3.09',
 '3.61',
 '3.59',
 '3.61',
 '3.55',
 '3.54',
 '3.45',
 '3.05',
 '3.05',
 '-',
 '3.58',
 '3.55',
 '3.58',
 '3.55',
 '3.54',
 '3.45',
 '3.41',
 '3.23',
 '3.51',
 '3.41',
 '3.23',
 '3.51',
 '3.54',
 '3.54',
 '-',
 '3.21',
 '3.06',
 '3.21',
 '3.21',
 '3.06',
 '3.21',
 '3.41',
 '3.23',
 '3.51']

In [16]:
## 関数化できたので、とりあえずpandasに直します。村山さんがやっていたDFを使います。

In [17]:
import pandas as pd
from pandas import DataFrame as df
import numpy as np

In [18]:
col = len(rate)/3
np.reshape(rate,(int(col),3))

array([['3.55', '3.53', '3.51'],
       ['3.46', '3.36', '3.25'],
       ['3.50', '3.14', '3.50'],
       ['3.06', '3.06', '3.03'],
       ['3.28', '3.27', '3.08'],
       ['3.13', '3.09', '3.14'],
       ['3.55', '3.51', '3.55'],
       ['3.54', '3.48', '3.51'],
       ['3.28', '3.08', '3.48'],
       ['3.09', '3.05', '3.09'],
       ['3.06', '3.03', '3.06'],
       ['3.55', '3.17', '3.55'],
       ['3.14', '3.12', '3.08'],
       ['3.53', '3.53', '3.17'],
       ['3.28', '3.08', '3.47'],
       ['3.04', '3.04', '-'],
       ['3.04', '3.04', '-'],
       ['3.32', '3.28', '3.09'],
       ['3.61', '3.59', '3.61'],
       ['3.55', '3.54', '3.45'],
       ['3.05', '3.05', '-'],
       ['3.58', '3.55', '3.58'],
       ['3.55', '3.54', '3.45'],
       ['3.41', '3.23', '3.51'],
       ['3.41', '3.23', '3.51'],
       ['3.54', '3.54', '-'],
       ['3.21', '3.06', '3.21'],
       ['3.21', '3.06', '3.21'],
       ['3.41', '3.23', '3.51']],
      dtype='<U4')

In [19]:
value_df = pd.DataFrame(np.reshape(rate,(int(col),3)))
value_df.columns = ['all', 'lunch', 'dinner']
value_df

     all lunch dinner
0   3.55  3.53   3.51
1   3.46  3.36   3.25
2   3.50  3.14   3.50
3   3.06  3.06   3.03
4   3.28  3.27   3.08
5   3.13  3.09   3.14
6   3.55  3.51   3.55
7   3.54  3.48   3.51
8   3.28  3.08   3.48
9   3.09  3.05   3.09
10  3.06  3.03   3.06
11  3.55  3.17   3.55
12  3.14  3.12   3.08
13  3.53  3.53   3.17
14  3.28  3.08   3.47
15  3.04  3.04      -
16  3.04  3.04      -
17  3.32  3.28   3.09
18  3.61  3.59   3.61
19  3.55  3.54   3.45
20  3.05  3.05      -
21  3.58  3.55   3.58
22  3.55  3.54   3.45
23  3.41  3.23   3.51
24  3.41  3.23   3.51
25  3.54  3.54      -
26  3.21  3.06   3.21
27  3.21  3.06   3.21
28  3.41  3.23   3.51

In [20]:
def css1(bb):
    i = 0
    nrate = list()
    pro = list()
    ra = list()
    nn = list()
    ni = list()
    for i in range(len(bb)):
        c = str(bb[i])
        f = c.rfind('/')
        f1 = c.rfind('/', 0, f-1)
        f2 = c.rfind('/', 0, f1-1)
        y = c[f2+1:f1]
        j = c.find('/', 20)
        y1= c[20:j]
        u1 = "https://tabelog.com/rst/rstdtl_rvwlst/?pal="
        s1 = y1
        u2 = "&rcd="
        s2 = y
        u3 = "&srt=&sby=&smp=1&use_type=2&rvw_part=all&lc=2"
        cs = u1+s1+u2+s2+u3
        nn.append(cs)
    return nn

In [21]:
cs = css1(bb)
cs

['https://tabelog.com/rst/rstdtl_rvwlst/?pal=tokyo&rcd=13026436&srt=&sby=&smp=1&use_type=2&rvw_part=all&lc=2',
 'https://tabelog.com/rst/rstdtl_rvwlst/?pal=tokyo&rcd=13182226&srt=&sby=&smp=1&use_type=2&rvw_part=all&lc=2',
 'https://tabelog.com/rst/rstdtl_rvwlst/?pal=tokyo&rcd=13193501&srt=&sby=&smp=1&use_type=2&rvw_part=all&lc=2',
 'https://tabelog.com/rst/rstdtl_rvwlst/?pal=tokyo&rcd=13182223&srt=&sby=&smp=1&use_type=2&rvw_part=all&lc=2',
 'https://tabelog.com/rst/rstdtl_rvwlst/?pal=tokyo&rcd=13032373&srt=&sby=&smp=1&use_type=2&rvw_part=all&lc=2',
 'https://tabelog.com/rst/rstdtl_rvwlst/?pal=tokyo&rcd=13020115&srt=&sby=&smp=1&use_type=2&rvw_part=all&lc=2',
 'https://tabelog.com/rst/rstdtl_rvwlst/?pal=tokyo&rcd=13058193&srt=&sby=&smp=1&use_type=2&rvw_part=all&lc=2',
 'https://tabelog.com/rst/rstdtl_rvwlst/?pal=tokyo&rcd=13100899&srt=&sby=&smp=1&use_type=2&rvw_part=all&lc=2',
 'https://tabelog.com/rst/rstdtl_rvwlst/?pal=tokyo&rcd=13166088&srt=&sby=&smp=1&use_type=2&rvw_part=all&lc=2',
 'https://tabelog.com/rst/rstdtl_rvwlst/?pal=tokyo&rcd=13181946&srt=&sby=&smp=1&use_type=2&rvw_part=all&lc=2',
 'https://tabelog.com/rst/rstdtl_rvwlst/?pal=tokyo&rcd=13185570&srt=&sby=&smp=1&use_type=2&rvw_part=all&lc=2',
 'https://tabelog.com/rst/rstdtl_rvwlst/?pal=tokyo&rcd=13169087&srt=&sby=&smp=1&use_type=2&rvw_part=all&lc=2',
 'https://tabelog.com/rst/rstdtl_rvwlst/?pal=tokyo&rcd=13180221&srt=&sby=&smp=1&use_type=2&rvw_part=all&lc=2',
 'https://tabelog.com/rst/rstdtl_rvwlst/?pal=tokyo&rcd=13122557&srt=&sby=&smp=1&use_type=2&rvw_part=all&lc=2',
 'https://tabelog.com/rst/rstdtl_rvwlst/?pal=tokyo&rcd=13167104&srt=&sby=&smp=1&use_type=2&rvw_part=all&lc=2',
 'https://tabelog.com/rst/rstdtl_rvwlst/?pal=tokyo&rcd=13129918&srt=&sby=&smp=1&use_type=2&rvw_part=all&lc=2',
 'https://tabelog.com/rst/rstdtl_rvwlst/?pal=tokyo&rcd=13129918&srt=&sby=&smp=1&use_type=2&rvw_part=all&lc=2',
 'https://tabelog.com/rst/rstdtl_rvwlst/?pal=tokyo&rcd=13188286&srt=&sby=&smp=1&use_type=2&rvw_part=all&lc=2',
 'https://tabelog.com/rst/rstdtl_rvwlst/?pal=tokyo&rcd=13136144&srt=&sby=&smp=1&use_type=2&rvw_part=all&lc=2',
 'https://tabelog.com/rst/rstdtl_rvwlst/?pal=tokyo&rcd=13177039&srt=&sby=&smp=1&use_type=2&rvw_part=all&lc=2',
 'https://tabelog.com/rst/rstdtl_rvwlst/?pal=tokyo&rcd=13183479&srt=&sby=&smp=1&use_type=2&rvw_part=all&lc=2',
 'https://tabelog.com/rst/rstdtl_rvwlst/?pal=tokyo&rcd=13183816&srt=&sby=&smp=1&use_type=2&rvw_part=all&lc=2',
 'https://tabelog.com/rst/rstdtl_rvwlst/?pal=tokyo&rcd=13177039&srt=&sby=&smp=1&use_type=2&rvw_part=all&lc=2',
 'https://tabelog.com/rst/rstdtl_rvwlst/?pal=tokyo&rcd=13179089&srt=&sby=&smp=1&use_type=2&rvw_part=all&lc=2',
 'https://tabelog.com/rst/rstdtl_rvwlst/?pal=tokyo&rcd=13179089&srt=&sby=&smp=1&use_type=2&rvw_part=all&lc=2',
 'https://tabelog.com/rst/rstdtl_rvwlst/?pal=tokyo&rcd=13185183&srt=&sby=&smp=1&use_type=2&rvw_part=all&lc=2',
 'https://tabelog.com/rst/rstdtl_rvwlst/?pal=tokyo&rcd=13207866&srt=&sby=&smp=1&use_type=2&rvw_part=all&lc=2',
 'https://tabelog.com/rst/rstdtl_rvwlst/?pal=tokyo&rcd=13207866&srt=&sby=&smp=1&use_type=2&rvw_part=all&lc=2',
 'https://tabelog.com/rst/rstdtl_rvwlst/?pal=tokyo&rcd=13179089&srt=&sby=&smp=1&use_type=2&rvw_part=all&lc=2']

In [28]:
def seg(f1,f2,m):
    import pandas as pd
    from pandas import DataFrame as df
    import numpy as np
    i = 0
    f1g = np.array([])
    f2g = np.array([])
    mg = np.array([])
    for i in range(len(f1)):
        f = str(f1[i])
        if '女性' in f:
            if '2' or '3' in f:
                f1g = np.append(f1g, f)
                f1g = np.append(f1g, f2[i])
                f1g = np.append(f1g, m[i])
            else:
                f2g = np.append(f2g, f)
                f2g = np.append(f2g, f2[i])
                f2g = np.append(f2g, m[i])
        else:
            mg = np.append(mg, f)
            mg = np.append(mg, f2[i])
            mg = np.append(mg, m[i])
            
    value_df1 = pd.DataFrame(np.reshape(f1g,(int(len(f1g)/3),3)))
    value_df2 = pd.DataFrame(np.reshape(f2g,(int(len(f2g)/3),3)))
    value_dm = pd.DataFrame(np.reshape(mg,(int(len(mg)/3),3)))
    
    value_df1.columns = ['profile', 'price', 'rate']
    value_df2.columns = ['profile', 'price', 'rate']
    value_dm.columns = ['profile', 'price', 'rate']
    dff1 = value_df1
    dff2 = value_df2
    dfm = value_dm
    r1r = dff1['rate']
    r2r = dff2['rate']
    r3r = dfm['rate']
    r1 = np.array([])
    r4 = np.array([])
    r3 = np.array([])
    i =0
    for i in range(len(r1r)):
        r2 = r1r[i]
        if '-' in str(r2):
            pass
        else:
            r = float(r2)
            r1 = np.append(r1,r)
    i =0
    for i in range(len(r2r)):
        r2 = r2r[i]
        if '-' in str(r2):
            pass
        else:
            r = float(r2)
            r4 = np.append(r4,r)
    i =0
    for i in range(len(r3r)):
        r2 = r3r[i]
        if '-' in str(r2):
            pass
        else:
            r = float(r2)
            r3 = np.append(r3,r)

    ## 金額を抜き出す
    p1 = dff1['price']
    p2 = dff2['price']
    p3 = dfm['price']
    pf1 = np.array([])
    pf2 = np.array([])
    pm = np.array([])
    i = 0
    for i in range(len(p1)):
        p = str(p1[i])
        if len(p) == 13:
            d = int((int(p[1]+p[3:6])+int(p[8]+p[10:])+1)/2)
            pf1 = np.append(pf1,d)
        else:
            pass
    i = 0
    for i in range(len(p2)):
        p = str(p2[i])
        if len(p) == 13:
            d = (int(p[1]+p[3:6])+int(p[8]+p[10:])+1)/2
            pf2 = np.append(pf2,d)
        else:
            pass
    i = 0
    for i in range(len(p3)):
        p = str(p3[i])
        if len(p) == 13:
            d = (int(p[1]+p[3:6])+int(p[8]+p[10:])+1)/2
            pm = np.append(pm,d)
        else:
            pass 
        
    ## 比率を抜き出す
    i = 0
    c1 = list(dff1['profile'])
    c2 = list(dff2['profile'])
    c3 = list(dfm['profile'])
    c4 = list()
    c5 = list()
    for i in range(len(c3)):
        if c3[i] == 'None':
            pass 
        else:
            c5.append(c3[i])
    i = 0
    for i in range(len(c2)):
        c = c2[i]
        if '0' in c:
            c4.append(c)
        else:
            pass
    t1 = len(c1)/(len(c1)+len(c4)+len(c5))  
    t2 = len(c4)/(len(c1)+len(c4)+len(c5))  
    t3 = len(c5)/(len(c1)+len(c4)+len(c5))  
    np = list([t1,t3,pf1.mean(),pm.mean(),r1.mean(),r3.mean()])
    return np

In [29]:
def usa1(cs):
    from pandas import DataFrame as df
    import numpy as np
    goal = np.array([])
    i = 0
    for i in range(len(cs)):
        nrate = list()
        pro = list()
        ra = list()
        nn = list()
        ni = list()
        session = requests.Session()
        response = session.get(cs[i])
        root = lxml.html.fromstring(response.content)
        for x in root.cssselect('span[class = "rvw-item__rvwr-profile"]'):
            pro.append(x.text)
        for x in root.cssselect('span'):
            nn.append(x.text)
        i = 0
        for i in range(len(nn)):
            n = str(nn[i])
            if "夜の点数：" in n:
                ni.append(n)
            if "昼の点数：" in n:
                ni.append(n)
            else:
                pass
        price = list()
        for x in root.cssselect('strong[class = "c-rating__val rvw-item__usedprice-price"]'):
            price.append(x.text)
        i = 0
        nr= list()
        while i < len(price) and i < len(ni):
            if "夜" in ni[i]:
                nr.append(price[i])
            else:
                pass
            i = i + 1
        trate= list()
        tr = list()
        for x in root.cssselect('b[class = "c-rating__val c-rating__val--strong"]'):
            trate.append(x.text)
        i = 0
        while i < len(trate) and i < len(ni):
            if "夜" in ni[i]:
                tr.append(trate[i])
            else:
                pass
            i = i + 1
        f1 = np.array(pro)
        f2 = np.array(nr)
        m = np.array(tr)     
        s = seg(f1,f2,m)
        goal = np.append(goal,s)
    return goal

In [30]:
goal = usa1(cs)

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:120: RuntimeWarning: Mean of empty slice.
/usr/local/lib/python3.6/site-packages/numpy/core/_methods.py:80: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

In [32]:
dg = pd.DataFrame(np.reshape(goal,(int(len(goal)/6),6)))
dg

           0         1            2            3         4         5
0   0.584906  0.415094  4875.000000  4790.322581  3.203333  3.297059
1   0.000000  1.000000          NaN  6000.000000       NaN  3.566667
2   1.000000  0.000000  3500.000000  3500.000000  3.522222  3.200000
3   0.000000  1.000000          NaN  4500.000000       NaN  3.800000
4   0.470588  0.529412  4357.142857  4692.307692  3.628571  3.080000
5   0.090909  0.909091          NaN  4100.000000  3.000000  3.372727
6   0.529412  0.470588  4547.619048  5064.516129  3.503846  3.486111
7   0.588235  0.411765  2700.000000  2659.090909  3.295000  3.316667
8   0.272727  0.727273          NaN  3500.000000  3.800000  3.316667
9   0.333333  0.666667  2500.000000  3100.000000  3.250000  3.633333
10  0.250000  0.750000          NaN  3500.000000       NaN  2.825000
11  0.666667  0.333333  2785.714286  2785.714286  3.355556  3.311111
12  0.600000  0.400000  3500.000000  4125.000000  3.300000  3.400000
13  0.562500  0.437500  3958.333333  4500.000000  3.396154  3.425000
14  0.416667  0.583333  3750.000000  2800.000000  3.120000  3.320000
15  0.583333  0.416667  5166.666667  3000.000000  3.728571  3.971429
16  0.583333  0.416667  5166.666667  3000.000000  3.728571  3.971429
17  0.200000  0.800000  4500.000000  3750.000000  3.200000  3.640000
18  0.367089  0.632911  3060.000000  3037.313433  3.639286  3.539130
19  0.307692  0.692308  3500.000000  3954.545455  3.425000  3.585714
20  0.600000  0.400000  5500.000000  3000.000000  3.566667  3.633333
21  0.437500  0.562500  4700.000000  3810.344828  3.357895  3.456250
22  0.307692  0.692308  3500.000000  3954.545455  3.425000  3.585714
23  0.142857  0.857143  4500.000000  4666.666667  3.300000  3.250000
24  0.142857  0.857143  4500.000000  4666.666667  3.300000  3.250000
25  0.166667  0.833333  9000.000000          NaN  4.000000  3.980000
26  0.333333  0.666667  4500.000000  2500.000000  3.500000  3.480000
27  0.333333  0.666667  4500.000000  2500.000000  3.500000  3.480000
28  0.142857  0.857143  4500.000000  4666.666667  3.300000  3.250000

In [33]:
dg1 = dg.dropna()
dg1

           0         1            2            3         4         5
0   0.584906  0.415094  4875.000000  4790.322581  3.203333  3.297059
2   1.000000  0.000000  3500.000000  3500.000000  3.522222  3.200000
4   0.470588  0.529412  4357.142857  4692.307692  3.628571  3.080000
6   0.529412  0.470588  4547.619048  5064.516129  3.503846  3.486111
7   0.588235  0.411765  2700.000000  2659.090909  3.295000  3.316667
9   0.333333  0.666667  2500.000000  3100.000000  3.250000  3.633333
11  0.666667  0.333333  2785.714286  2785.714286  3.355556  3.311111
12  0.600000  0.400000  3500.000000  4125.000000  3.300000  3.400000
13  0.562500  0.437500  3958.333333  4500.000000  3.396154  3.425000
14  0.416667  0.583333  3750.000000  2800.000000  3.120000  3.320000
15  0.583333  0.416667  5166.666667  3000.000000  3.728571  3.971429
16  0.583333  0.416667  5166.666667  3000.000000  3.728571  3.971429
17  0.200000  0.800000  4500.000000  3750.000000  3.200000  3.640000
18  0.367089  0.632911  3060.000000  3037.313433  3.639286  3.539130
19  0.307692  0.692308  3500.000000  3954.545455  3.425000  3.585714
20  0.600000  0.400000  5500.000000  3000.000000  3.566667  3.633333
21  0.437500  0.562500  4700.000000  3810.344828  3.357895  3.456250
22  0.307692  0.692308  3500.000000  3954.545455  3.425000  3.585714
23  0.142857  0.857143  4500.000000  4666.666667  3.300000  3.250000
24  0.142857  0.857143  4500.000000  4666.666667  3.300000  3.250000
26  0.333333  0.666667  4500.000000  2500.000000  3.500000  3.480000
27  0.333333  0.666667  4500.000000  2500.000000  3.500000  3.480000
28  0.142857  0.857143  4500.000000  4666.666667  3.300000  3.250000

In [37]:
dg1.columns = ['F','M','Fprice','Mprice','Frate','Mrate']
dg1

           F         M       Fprice       Mprice     Frate     Mrate
0   0.584906  0.415094  4875.000000  4790.322581  3.203333  3.297059
2   1.000000  0.000000  3500.000000  3500.000000  3.522222  3.200000
4   0.470588  0.529412  4357.142857  4692.307692  3.628571  3.080000
6   0.529412  0.470588  4547.619048  5064.516129  3.503846  3.486111
7   0.588235  0.411765  2700.000000  2659.090909  3.295000  3.316667
9   0.333333  0.666667  2500.000000  3100.000000  3.250000  3.633333
11  0.666667  0.333333  2785.714286  2785.714286  3.355556  3.311111
12  0.600000  0.400000  3500.000000  4125.000000  3.300000  3.400000
13  0.562500  0.437500  3958.333333  4500.000000  3.396154  3.425000
14  0.416667  0.583333  3750.000000  2800.000000  3.120000  3.320000
15  0.583333  0.416667  5166.666667  3000.000000  3.728571  3.971429
16  0.583333  0.416667  5166.666667  3000.000000  3.728571  3.971429
17  0.200000  0.800000  4500.000000  3750.000000  3.200000  3.640000
18  0.367089  0.632911  3060.000000  3037.313433  3.639286  3.539130
19  0.307692  0.692308  3500.000000  3954.545455  3.425000  3.585714
20  0.600000  0.400000  5500.000000  3000.000000  3.566667  3.633333
21  0.437500  0.562500  4700.000000  3810.344828  3.357895  3.456250
22  0.307692  0.692308  3500.000000  3954.545455  3.425000  3.585714
23  0.142857  0.857143  4500.000000  4666.666667  3.300000  3.250000
24  0.142857  0.857143  4500.000000  4666.666667  3.300000  3.250000
26  0.333333  0.666667  4500.000000  2500.000000  3.500000  3.480000
27  0.333333  0.666667  4500.000000  2500.000000  3.500000  3.480000
28  0.142857  0.857143  4500.000000  4666.666667  3.300000  3.250000

In [ ]:
erl.remove('鉄板チャイニーズバルサヴァ？')
erl.remove('青いナポリブルーバー')
erl.remove( 'スキュー')
erl.remove('グッドモーニングカフェ品川シーズンテラス')
erl.remove('グッドモーニングカフェルミネ池袋店')
erl.remove('シエロイリオヒガシ')
erl.remove('リバヨン')
erl.remove('バーバーリバールーム蔵駒')
erl.remove('プリバード')

In [55]:
erl

['ガーブ東京',
 'ガーブピンティーノ',
 'ガーブセントラル',
 '青いナポリ',
 'グッドモーニングカフェ中野セントラルパーク',
 'グッドモーニングカフェ錦町',
 'グッドモーニングカフェ千駄ヶ谷',
 'グッドモーニングカフェ早稲田',
 'グッドモーニングカフェ＆グリル虎ノ門',
 'グッドモーニングカフェ＆グリルキュウリ',
 'リバーサイドカフェシエロイリオ',
 'ビストロバルトロワキュイアサヌマ',
 'アンティーカピッツェリアダミケーレ',
 'アダッキオ',
 'スロージェットコーヒー',
 'ウィーナムキーハイナンチキンライス日本本店',
 'クッチーナカフェオリーヴァ',
 '両国テラス',
 'ミラー',
 'ガーブ江ノ島',
 'トヨタマヴィラ',
 'アップマーケットピッツァ＆カフェ',
 'オープンテラスミーイート']

In [56]:
aerl = erl
dg1.index = [aerl]
dg1

,F,M,Fprice,Mprice,Frate,Mrate
ガーブ東京,0.584906,0.415094,4875.000000,4790.322581,3.203333,3.297059
ガーブピンティーノ,1.000000,0.000000,3500.000000,3500.000000,3.522222,3.200000
ガーブセントラル,0.470588,0.529412,4357.142857,4692.307692,3.628571,3.080000
青いナポリ,0.529412,0.470588,4547.619048,5064.516129,3.503846,3.486111
グッドモーニングカフェ中野セントラルパーク,0.588235,0.411765,2700.000000,2659.090909,3.295000,3.316667
グッドモーニングカフェ錦町,0.333333,0.666667,2500.000000,3100.000000,3.250000,3.633333
グッドモーニングカフェ千駄ヶ谷,0.666667,0.333333,2785.714286,2785.714286,3.355556,3.311111
グッドモーニングカフェ早稲田,0.600000,0.400000,3500.000000,4125.000000,3.300000,3.400000
グッドモーニングカフェ＆グリル虎ノ門,0.562500,0.437500,3958.333333,4500.000000,3.396154,3.425000
グッドモーニングカフェ＆グリルキュウリ,0.416667,0.583333,3750.000000,2800.000000,3.120000,3.320000
リバーサイドカフェシエロイリオ,0.583333,0.416667,5166.666667,3000.000000,3.728571,3.971429
ビストロバルトロワキュイアサヌマ,0.583333,0.416667,5166.666667,3000.000000,3.728571,3.971429
アンティーカピッツェリアダミケーレ,0.200000,0.800000,4500.000000,3750.000000,3.200000,3.640000
アダッキオ,0.367089,0.632911,3060.000000,3037.313433,3.639286,3.539130
スロージェットコーヒー,0.307692,0.692308,3500.000000,3954.545455,3.425000,3.585714
ウィーナムキーハイナンチキンライス日本本店,0.600000,0.400000,5500.000000,3000.000000,3.566667,3.633333
クッチーナカフェオリーヴァ,0.437500,0.562500,4700.000000,3810.344828,3.357895,3.456250
両国テラス,0.307692,0.692308,3500.000000,3954.545455,3.425000,3.585714
ミラー,0.142857,0.857143,4500.000000,4666.666667,3.300000,3.250000
ガーブ江ノ島,0.142857,0.857143,4500.000000,4666.666667,3.300000,3.250000
トヨタマヴィラ,0.333333,0.666667,4500.000000,2500.000000,3.500000,3.480000
アップマーケットピッツァ＆カフェ,0.333333,0.666667,4500.000000,2500.000000,3.500000,3.480000
オープンテラスミーイート,0.142857,0.857143,4500.000000,4666.666667,3.300000,3.250000

これで、全て顧客に関することは完了です。

次のファイルでは、いよいよ言語分析に入ります。お仕事、とってもわーくわーくしますね！